<header class="header">
  <div class="container">
    <h1 class="site-title">Veto Proof!</h1>
    <span class="site-tagline">Because flexbox is super cool!</span>
  </div>
</header>
<nav class="main-nav">
  <div class="container">
    <ul [class.open]="!mobileMenu">
      <li class="mobile-button" (click)="mobileClick()"><a href="#">{{mobileMenu ? 'Menu' : 'Close Menu'}}</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Methods</a></li>
      <li><a href="#">Results</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>

<section class="content">
    <router-outlet></router-outlet>
</section>

<footer class="footer">
  <div class="container">
    <p>Yep css grid with KongText. Only God can judge me.</p>
  </div>
</footer>

