<div class="full-bleed cool-photo"></div>

<article class="post">
  <div class="container">
    <h2>Do Something</h2>
    <div class="columns">
      <app-news-item [imagePosition]="'top'" [social]="false" [imageSource]="'http://lorempixel.com/600/150/nature'">
        <p>Frankly, it's ludicrous to have these interlocking bodies and not...interlock. My Uncle Rory was the
            stodgiest taxidermist you've ever met by day. But I haven't spent any money! I was all... dead and frugal.
            The only way some people can find a purpose in life is by becoming obsessed with demons. Should I start
            this program over? It's a real burn, being right so often. Can't call to mom, can't say a word. Nobody
            could do that much decoupage without calling on the powers of darkness. I'll never leave. Not even if you
            kill me. If I could make you purtier, I would.</p>
      </app-news-item>

      <app-news-item [imagePosition]="'bottom'" [social]="false" [imageSource]="'http://lorempixel.com/600/200/cats'">
        <p>Everybody started singing and dancing. I've got four brothers, none of them Democrats. They need to take
          seven and they might take yours. Any self-respecting demon should be living in a pit of filth or a nice
          crypt. Who's calling me? Everybody I know lives here. Can't even shout, can't even cry. And I'm a huge fan
          of the way you lose control and turn into an enormous green rage monster. I wanna hurt you, but I can't
          resist the sinister attraction of your cold and muscular body! In their resting state, our actives are as
          innocent and vulnerable as children.</p>
        </app-news-item>
    </div>
  </div>
</article>

<!-- <div class="full-bleed cool-photo2"></div> -->

<article class="post">
  <div class="container">

    <h3>This is another section sub-title</h3>

    <div class="columns thirds">
      <app-news-item [imagePosition]="'top'" [imageSource]="'http://lorempixel.com/400/100/fashion'">
        <p>Everybody started singing and dancing. I saw their production of 'Giselle' in 1890. I wept like a baby,
          and I was evil! So, are we gonna sing army songs or something? I am obsolete. This must be what old people
          feel like, and Blockbuster. In their resting state, our actives are as innocent and vulnerable as children.
          I'm a rogue demon hunter now. Hey I could whip up a love slave any day I wanted. Oh my god, I find lentils
          completely incomprehensible. Well we could grind our enemies into talcum powder with a sledgehammer but,
          gosh, we did that last night.</p>
      </app-news-item>
    </div>
  </div>
</article>
